<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ css_file }}">
        <title>ORM-PlanPro-Converter</title>
    </head>
    <body>
        <main class="container">
            <h2>Welcome to the ORM - PlanPro Converter</h2>

            <form action="/run" method="get">
                <div class="grid">
                    <label for="x1">
                        x1
                        <input type="text" id="x1" name="x1" placeholder="52.39503" required>
                    </label>
                    <label for="y1">
                        y1
                        <input type="text" id="y1" name="y1" placeholder="13.12242" required>
                    </label>
                </div>
                <div class="grid">
                    <label for="x2">
                        x2
                        <input type="text" id="x2" name="x2" placeholder="52.39503" required>
                    </label>
                    <label for="y2">
                        y2
                        <input type="text" id="y2" name="y2" placeholder="13.12242" required>
                    </label>
                </div>
                <button type="submit">Submit</button>
            </form>
        </main>
    </body>
</html>